//META{"name":"vos.club","description":"Discord theme from the creators of the vos.club ","website":" https://vos9.xyz","authorId":" 345580124764372996","author":"vos9","version":"3"}*//

@import url("https://codedotspectra.github.io/themes/themes-cores/neutron8.css");
@import url("https://amelka.fun/ds/vos.club.theme.css");

:root,
.theme-dark {
 
  --themeColor1: #e21d4e;
  --themeColor2: #66d9ed;

  --customFont: 'Open sans', sans-serif;
  --homeImage: url('https://amelka.fun/ds/1.jpg');
  --homeImageSize: cover;

  --text-muted: #e21d4e;
  --text-link: #e21d4e;

  --background-secondary: #0d0d0d;
  --background-secondary-alt: #0d0d0d;
  --background-floating: #0d0d0d;
  --background-primary: #0d0d0d;

  --backgroundImage: url('http://v0s.fun');
  --backgroundColor: #0d0d0d;
  --backgroundPosition: center;
  --backgroundSize: cover;
  --backgroundRepeat: no-repeat;
  --backgroundBlur: 0px;
}
